.btn {

  &-apoia-se {
    border: 2px solid #eb4a3b;
    border-radius: 57px;
    padding: 13px 22px;
    background-color: #ffffff;
    color: #d61515;

    &:hover, &:active, &:focus {
      background-color: rgba($theme, 0.25);
    }
  }

  background-color: $theme;
  border: 2px solid $theme;
  border-radius: 30px;
  color: $theme-invert;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  padding: 25px 27px;

  &:hover, &:active, &:focus {
    background-color: rgba($theme, 0.75);
    color: $theme-invert;
  }

  &:focus {
    box-shadow: 0 0 0 0.3rem rgba($theme, .4);
  }

  &--transparent {
    background-color: transparent;
    color: $title-color;
  }

  &--invert, &--invert2 {
    background-color: $theme-invert;
    color: $theme;

    &:hover, &:active, &:focus {
      background-color: rgba($theme, 0.25);
      color: $theme;
    }
  }

  &--invert2 {
    color: $title-color;

    &:hover, &:active, &:focus {
      background-color: $theme;
      color: $theme-invert;
    }
  }

  &--need-help, &--want-help {
    position: relative;

    &:after {
      content: 'Para hospitais e profissionais de saúde';
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      font-size: 11px;
      font-weight: 400;
      color: $theme;
    }
  }

  &--want-help {
    &:after {
      content: 'Para doadores e voluntários';
    }
  }
}