.c-modal {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background-color: rgba(0, 0, 0, .8);

	&__box {
		width: 100%;
		height: 100%;
		padding: 100px 50px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 21;
		border-radius: 10px;

		@media screen and (min-width: $screen-lg) {
			max-width: 700px;
			max-height: 400px;
		}

		&--large {
			padding: 40px 0 0;
			@media screen and (min-width: $screen-lg) {
				padding: 50px;
				max-width: 90%;
				max-height: 90%;
			}
		}

	}
	

	&__flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		&--align-normal {
			align-items: normal;
		}
	}

	&__item {
		margin: 20px 0;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 25px;
		font-size: 25px;
		color: #eb4a3b;
		cursor: pointer;
	}

	&__img {
		max-width: 100%;
		margin: 0 auto;
		display: block;

		@media screen and (max-width: $screen-lg) {
			max-width: inherit;
			height: 86vh;
		}

	}

	&__img-wrapper {
		@media screen and (max-width: $screen-lg) {
			overflow-x: scroll;
		}
	}
}